<script src="https://unpkg.com/konva@3.1.0/konva.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="openNavNewDropdown()">New
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="navNewDropdown">
        <a onclick=newDefaultRectangle()>Entity</a>
      </div>
      <button class="dropbtn" onclick="openNavRemoveDropdown()">Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="navRemoveDropdown">
        <a onclick=deleteLocalEntitiesUpdateRemote()>Delete All Entities</a>
        <a onclick=adjustGridSize()>Adjust Grid Size</a>
      </div>
    </div>
  </div id="stage-parent">
  <div id="container"></div>
  <div id="log"></div>
  <div id="emit"></div>
  <div id="broadcast"></div>
  <div id="dialogs"></div>
</body>

</html>
<script src="{{ url_for('static', filename='main.js') }}" charset="utf-8"></script>