<script src="https://unpkg.com/konva@3.1.0/konva.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" src="./test.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar">
  <a href="#home">Home</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="openNavDropdown()">New
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="navNewDropdown">
    <a onclick=newDefaultRectangle()>Entity</a>
  </div>
  </div>
</div id="stage-parent">
    <div id="container"></div>
    <div id="log"></div>
    <div id="emit"></div>
    <div id="broadcast"></div>
    <div id="dialogs"></div>
</body>
</html>

<script type="text/javascript">
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function openNavDropdown() {
  document.getElementById("navNewDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var navNewDropdown = document.getElementById("navNewDropdown");
    if (navNewDropdown.classList.contains('show')) {
      navNewDropdown.classList.remove('show');
    }
  }
}

// https://stackoverflow.com/a/2117523
function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  )
}

function get_number(value) {
  if(isNaN(value)) throw `${value} not a number`;
  return Number(value);
}

function getEntityValues(raw_entity) {
  if (raw_entity.className == "Rect") {
    for (const key of Object.keys(raw_entity)) {
      if (key == "draggable") {
        raw_entity.draggable = (raw_entity.draggable === true || raw_entity.draggable == 'true');
      } else if (key == "x") {
        raw_entity.x = get_number(raw_entity.x);
      } else if (key == "y") {
        raw_entity.y = get_number(raw_entity.y);
      } else if (key == "height") {
        raw_entity.height = get_number(raw_entity.height);
      } else if (key == "width") {
        raw_entity.width = get_number(raw_entity.width);
      } else if (key == "shadowBlur") {
        raw_entity.shadowBlur = get_number(raw_entity.shadowBlur);
      } else if (key == "shadowOffsetX") {
        raw_entity.shadowOffsetX = get_number(raw_entity.shadowOffsetX);
      } else if (key == "shadowOffsetY") {
        raw_entity.shadowOffsetY = get_number(raw_entity.shadowOffsetY);
      } else if (key == "shadowOpacity") {
        raw_entity.shadowOpacity = get_number(raw_entity.shadowOpacity);
      } else if (key == "strokeWidth") {
        raw_entity.strokeWidth = get_number(raw_entity.strokeWidth);
      } else if (key == "offsetX") {
        raw_entity.offsetX = get_number(raw_entity.offsetX);
      } else if (key == "offsetY") {
        raw_entity.offsetY = get_number(raw_entity.offsetY);
      } else if (key == "rotation") {
        raw_entity.rotation = get_number(raw_entity.rotation);
      } else if (key == "scaleX") {
        raw_entity.scaleX = get_number(raw_entity.scaleX);
      } else if (key == "scaleY") {
        raw_entity.scaleY = get_number(raw_entity.scaleY);
      } else if (key == "skewX") {
        raw_entity.skewX = get_number(raw_entity.skewX);
      } else if (key == "skewY") {
        raw_entity.skewY = get_number(raw_entity.skewY);
      } else {
        // unknown values default to string
        raw_entity[key] = raw_entity[key].toString()
      }
    }
  }
  return raw_entity
}

function updateEntity(raw_entity) {
  let entity_id = raw_entity.id;

  console.log(`updating ${entity_id}`);
  var shape = STAGE.find(`#${entity_id}`)[0];
  if (shape) {
    try {
      shape.attrs = getEntityValues(raw_entity);

      let newPosition = getSnappedPosition(shape.x(), shape.y())

      shape.x(newPosition.x);
      shape.y(newPosition.y);

      STAGE.draw();
    } catch(err) {
      console.log(`Could not update ${entity_id}. Error: ${err}`);
    }
  }
}


function newEntity(raw_entity, layer, stage) {
  console.log(raw_entity);
  let entity;
  if (raw_entity.className == "Rect") {
    let entity_values;
    try {
      entity_values = getEntityValues(raw_entity);
    } catch(err) {
      console.log(`Could not create new entity. Error: ${err}`);
      return;
    }

    entity = new Konva.Rect(entity_values);
  } else {
    console.log(`could not determine class for ${raw_entity}`);
    return;
  }

  let entity_id = entity.attrs.id;

  entity.on('dragstart', (e) => {
    SHADOW_RECT.show();
    SHADOW_RECT.moveToTop();
    entity.moveToTop();
  });
  entity.on('dragend', (e) => {
    entity.x(SHADOW_RECT.x());
    entity.y(SHADOW_RECT.y());

    stage.draw();
    SHADOW_RECT.hide();
    socket.emit('update entity', entity);
  });
  entity.on('dragmove', (e) => {
    let newPosition = getSnappedPosition(entity.x(), entity.y())

    SHADOW_RECT.x(newPosition.x);
    SHADOW_RECT.y(newPosition.y);

    stage.draw();
  });
  entity.on('click', (e) => {
      if (e.evt.button === 2) {
        if (! $( `div[aria-describedby='${entity_id}']` ).length) {
            let content = `
                <div id="${entity_id}" title="Basic dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable">
                  <p>This is the default dialog ${entity_id}</p>
                </div>
            `;
            $( "#dialogs" ).append( content );
            socket.emit('update entity', entity);
            $( `#${entity_id}` ).dialog({
                buttons: [
                  {
                    text: "Delete",
                    icon: "ui-icon-trash",
                    // showText: false,
                    click: function() {
                      socket.emit('delete entity', `${entity_id}`);
                      $( `#${entity_id}` ).dialog("destroy");
                    }
                  },
                  {
                    text: "Save",
                    icon: "ui-icon-disk",
                    // showText: false,
                    click: function() {
                      console.log(`saving ${entity_id}...`);

                      var attributes = {};
                      var attributesHtml = $( `#${entity_id}` ).find('li');
                      for (var i = 0; i < attributesHtml.length; i++) {
                        attributeName = attributesHtml[i].childNodes[0].innerText.replace(" ", "").replace(":", "");
                        attributeValue = attributesHtml[i].childNodes[1].innerText.replace(" ", "").replace(":", "");
                        attributes[attributeName] = attributeValue;
                      }

                      updateEntity(getEntityValues(attributes));
                      layer.draw();
                      socket.emit('update entity', entity);
                    }
                  }
                ]
              });
        }
        $( `#${entity_id}` ).dialog('open');
      }
    });
  layer.add(entity);
  layer.draw();
}

function newDefaultRectangle() {
  newRectangle(stage_x, stage_y, MAIN_LAYER, STAGE);
}

function newRectangle(x, y, layer, stage, entity_id=null) {
  entity_id = entity_id || uuidv4();
  let rectangle = new Konva.Rect({
    id: entity_id,
    x: x,
    y: y,
    width: blockSnapSize * 1,
    height: blockSnapSize * 1,
    fill: '#fff',
    stroke: '#ddd',
    strokeWidth: 1,
    shadowColor: 'black',
    shadowBlur: 2,
    shadowOffset: {x : 1, y : 1},
    shadowOpacity: 0.4,
    draggable: true
  });
  // var entityValues = {};
  // entityValues.attrs = rectangle.attrs;
  // entityValues.className = 'Rect';
  // // rectangle.destroy();
  // newEntity(entityValues, layer, stage);
  // // updateEntity(entityValues);
  // // console.log(rectangle);
  // socket.emit('update entity', rectangle);
  // updateEntity(rectangle);
  rectangle.on('dragstart', (e) => {
    SHADOW_RECT.show();
    SHADOW_RECT.moveToTop();
    rectangle.moveToTop();
  });
  rectangle.on('dragend', (e) => {
    let newPosition = getSnappedPosition(rectangle.x(), rectangle.y());

    rectangle.x(newPosition.x);
    rectangle.y(newPosition.y);

    stage.draw();
    SHADOW_RECT.hide();
    socket.emit('update entity', rectangle);
  });
  rectangle.on('dragmove', (e) => {
    let newPosition = getSnappedPosition(rectangle.x(), rectangle.y());

    SHADOW_RECT.x(newPosition.x);
    SHADOW_RECT.y(newPosition.y);

    stage.draw();
  });
  rectangle.on('click', (e) => {
      if (e.evt.button === 2) {
        if (! $( `div[aria-describedby='${entity_id}']` ).length) {
            let content = `
                <div id="${entity_id}" title="Entity Attributes" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable">
                  <p>This is the default dialog ${entity_id}</p>
                </div>
            `;
            $( "#dialogs" ).append( content );
            socket.emit('update entity', rectangle);
            $( `#${entity_id}` ).dialog({
                buttons: [
                  {
                    text: "Delete",
                    icon: "ui-icon-trash",
                    // showText: false,
                    click: function() {
                      socket.emit('delete entity', `${entity_id}`);
                      $( `#${entity_id}` ).dialog("destroy");
                    }
                  },
                  {
                    text: "Save",
                    icon: "ui-icon-disk",
                    // showText: false,
                    click: function() {
                      console.log(`saving ${entity_id}...`);

                      var attributes = {};
                      var attributesHtml = $( `#${entity_id}` ).find('li');
                      for (var i = 0; i < attributesHtml.length; i++) {
                        attributeName = attributesHtml[i].childNodes[0].innerText.replace(" ", "").replace(":", "");
                        attributeValue = attributesHtml[i].childNodes[1].innerText.replace(" ", "").replace(":", "");
                        attributes[attributeName] = attributeValue;
                      }

                      updateEntity(getEntityValues(attributes));
                      layer.draw();
                      socket.emit('update entity', rectangle);
                    }
                  }
                ]
              });
        }
        $( `#${entity_id}` ).dialog('open');
      }
    });
  layer.add(rectangle);
  stage.draw();
}

function mod(n, m) {
  // js modulo operator (%) is weird with negative numbers
  // https://stackoverflow.com/a/17323608
  return ((n % m) + m) % m;
}

function createGridLayer() {
  var gridLayer = new Konva.Layer();

  for (var i = start_x; i < stage_max_x; i += blockSnapSize) {
    gridLayer.add(new Konva.Line({
      points: [i, stage_y, i, stage_max_y],
      stroke: '#ddd',
      strokeWidth: 1,
      selectable: false
    }));
  }

  for (var j = start_y; j < stage_max_y; j += blockSnapSize) {
    gridLayer.add(new Konva.Line({
      points: [stage_x, j, stage_max_x, j],
      stroke: '#ddd',
      strokeWidth: 1,
      selectable: false
    }));
  }

  STAGE.add(gridLayer);
  gridLayer.moveToBottom();

  return gridLayer;
}

function getSnappedPosition(x, y) {
  var xRem = mod(x, blockSnapSize);
  var yRem = mod(y, blockSnapSize);

  if (xRem <= blockSnapSize / 2) {
    var newX = x - xRem;
  } else {
    var newX = x + (blockSnapSize - xRem);
  }
  if (yRem <= blockSnapSize / 2) {
    var newY = y - yRem;
  } else {
    var newY = y + (blockSnapSize - yRem);
  }
  return { "x": newX, "y": newY }
}

function recomputeGlobals() {
  width = $(window).width();
  height = $(window).height();

  stage_x = -STAGE.attrs.x || 0;
  stage_y = -STAGE.attrs.y || 0;

  stage_max_x = stage_x + width;
  stage_max_y = stage_y + height;

  start_x = stage_x + (blockSnapSize - mod(stage_x, blockSnapSize));
  start_y = stage_y + (blockSnapSize - mod(stage_y, blockSnapSize));
}

var width = $(window).width();
var height = $(window).height();
var shadowOffset = 20;
var tween = null;
var blockSnapSize = 50;

var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

socket.on('deleted entity', function(data) {
  let entity_id = data;
  console.log(`deleting ${entity_id}`);

  var shape = STAGE.find(`#${entity_id}`)[0];
  shape.destroy();
  STAGE.draw();
});

socket.on('updated entity', function(data) {
  let entity_id = data.id;

  console.log(`updating ${entity_id}`);
  var shape = STAGE.find(`#${entity_id}`)[0];
  if (shape) {
    shape.attrs = data;

    shape.x(shape.attrs.x);
    shape.y(shape.attrs.y);

    MAIN_LAYER.draw();
  }

  var keys = Object.keys(data);
  ul = $('<ul style="list-style-type: none;">');
  for (var i = 0; i < keys.length; i++){
      var key = keys[i];
      ul.append("<li><code class='attribute'><em>" + key + ":</em></code><code class='attributeValue' contenteditable='true'>" + data[key] + "</code></li>");
  }
  $( `#${entity_id}` ).html(ul);
});

var SHADOW_RECT = new Konva.Rect({
  x: 0,
  y: 0,
  width: blockSnapSize * 1,
  height: blockSnapSize * 1,
  fill: '#888888',
  opacity: 0.3,
  stroke: '#999999',
  strokeWidth: 3
});

var STAGE = new Konva.Stage({
  container: 'container',
  width: width,
  height: height,
  draggable: true
});
STAGE.on('dragend', (e) => {
  recomputeGlobals();

  var newGridLayer = createGridLayer(STAGE);
  GRID_LAYER.destroy();
  GRID_LAYER = newGridLayer;
});

recomputeGlobals();

var GRID_LAYER = createGridLayer(STAGE);
var MAIN_LAYER = new Konva.Layer();

SHADOW_RECT.hide();
MAIN_LAYER.add(SHADOW_RECT);

STAGE.add(MAIN_LAYER);

// do not show context menu on right click
STAGE.on('contentContextmenu', (e) => {
  e.evt.preventDefault();
});

$.getJSON( "/api/entities", function( response ) {
  for (var i = 0; i < response.entities.length; i++) {
    newEntity(response.entities[i], MAIN_LAYER, STAGE);
  }
});

$(window).resize(function () {
  recomputeGlobals();
  STAGE.width(width);
  STAGE.height(height);
  STAGE.draw();
  var newGridLayer = createGridLayer(STAGE);
  GRID_LAYER.destroy();
  GRID_LAYER = newGridLayer;
});

</script>